/0_frontmatter/zusammenfassung.tex~
/9_backmatter/curriculum_vitae.tex~
/1_introduction/figures/RNA_pro.svg
/4_eval_ass/eval_ass.tex~
/4_eval_ass/tags.tex~
/5_pyro/pyro.tex~
/5_pyro/transcriptome_paper.tex~
/9_backmatter/additional_information.tex~
